{% extends 'base.html' %}

{% set page_head_title = 'Change Password' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('changepassword.static', filename='css/changepassword.css') }}"/>
{% endblock %}
{% block page_body_whitecontainer_content %}
    <div class="uppercontainer">
        <h1 class="change-password-title">Change Password</h1>
    </div>
{% endblock %}

{% block page_body_innercontainer %}
    <form class="FormDesign" id="changePasswordForm">
        <h1 class="field-title">current password</h1>
        <div class="password-field-container">
            <input class="input-field" name="current_password" type="password" required>
            <button type="button" class="passvisibility">
                <img src="{{ url_for('static', filename='media/img/hide.png') }}"/>
            </button>
        </div>

        <h1 class="field-title">new password</h1>
        <div class="password-field-container">
            <input class="input-field" name="new_password" type="password" required>
            <button type="button" class="passvisibility">
                <img src="{{ url_for('static', filename='media/img/hide.png') }}"/>
            </button>
        </div>
        
        <h1 class="field-title">confirm new password</h1>
        <div class="password-field-container">
            <input class="input-field" name="confirm_password" type="password" required>
            <button type="button" class="passvisibility">
                <img src="{{ url_for('static', filename='media/img/hide.png') }}"/>
            </button>
        </div>

        <div class="password-requirements">
            <div class="requirement">
                <span class="requirement-icon" id="length-requirement">✓</span>
                <span class="requirement-text">At least 8 characters</span>
            </div>
            <div class="requirement">
                <span class="requirement-icon" id="uppercase-requirement">✓</span>
                <span class="requirement-text">At least one uppercase letter</span>
            </div>
            <div class="requirement">
                <span class="requirement-icon" id="number-requirement">✓</span>
                <span class="requirement-text">At least one number</span>
            </div>
            <div class="requirement">
                <span class="requirement-icon" id="special-requirement">✓</span>
                <span class="requirement-text">At least one special character</span>
            </div>
        </div>

        <button type="submit" class="btn">Update Password</button>
    </form>

    {% if error %}
    <div id="error-data" data-error="{{ error }}"></div>
    {% endif %}
{% endblock %}

{% block page_body_js %}
    <script src="{{ url_for('changepassword.static', filename='js/changepassword.js') }}"></script>
{% endblock %}










